@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	html,
	body,
	#__next {
		height: 100%;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
	#root,
	#__next {
		isolation: isolate;
	}

	h1 {
		@apply text-6xl font-bold;
	}

	h2 {
		@apply text-4xl mt-5;
	}

	h3 {
		@apply text-xl mt-5;
	}

	h4 {
		@apply font-bold mt-5;
	}

	main p {
		@apply mt-5;
	}

	main a,
	footer a {
		@apply border-b-2 border-red-500 hover:border-transparent transition-all duration-300 ease-in-out;
	}
}
